<head>
    <title>router</title>
</head>

<template name="layout">
    <p>router hooks, and the multiple layout yields</p>

    {{> menu}}

    {{> yield}}

    <footer>
        {{> yield "footer"}}
    </footer>
</template>

<template name="menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Test Iron Router</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/" class="{{isActive '/'}}">home</a></li>
                <li><a href="/one" class="{{isActive '/one'}}">page 1</a></li>
                <li><a href="/two" class="{{isActive '/two'}}">page 2</a></li>
                <li><a href="/subs" class="{{isActive '/subs'}}">subs</a></li>
                <li><a href="/waiton" class="{{isActive '/waiton'}}">waitOn</a></li>
            </ul>
            <p class="navbar-text navbar-righ">{{getClickCount}} click</p>
        </div>
    </nav >
</template>

<template name="home">
    <h2>HOME</h2>
</template>

<template name="page_1">
    <h2>PAGE 1</h2>
</template>

<template name="page_2">
    <h2>PAGE 2</h2>
</template>

<template name="subs">
    <h2>PUB/SUB</h2>

    {{> cites}}
</template>

<template name="waiton">
    <h2>WAITON</h2>

    {{> marvel_characters}}
</template>

<template name="cites">
    {{#each getCitations}}
        <blockquote>
            <p>{{cite}}</p>
            {{#if hasAuthor}}
                <footer>{{author}}
                    {{#if hasSource}}, <cite>{{source}}</cite>{{/if}}
                    {{#if hasDate}}, {{date}}{{/if}}
                </footer>
            {{/if}}
        </blockquote>
    {{/each}}
</template>

<template name="marvel_characters">
  <div class="row">
    {{#each getCharacters}}
    <div id="character_{{id}}" class="col-xs-2">
      <div class="thumbnail">
        <img src="{{getThumb 'portrait_medium'}}" alt="{{name}}">
        <div class="caption">
          <h3>{{name}}</h3>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>

<template name="cites_footer">
  <footer>
    Thanks to Papillotes Revillon for their cites
  </footer>
</template>

<template name="marvel_footer">
  <footer>
    Great thanks to Marvel API for data
  </footer>
</template>